<div class="sp-form-button" style="margin: 0 .75rem .75rem .75rem;">
    {{ form_submit(submit_name, {'class': 'sp-block', 'style': 'padding: 1rem; width: 100%; background-color: #38a169;'}) }}
</div>